/* snews.css */
/* CSS file for SNEWS public web pages */


*:link {
	color: #fff;
}

*:visited{
	color: #06c;
}

a:hover {
	color: #f00;
}

body {
	font-size: 1em;
	font-family: sans-serif;
	/* font-family: georgia, serif; */
	color: #ccc;
	background: #00001a;
	/* margin: 0px; */
}

.PTitle {
	text-align: center;
}

h2 + h3 {
	margin-top: -1em;
} 

.Navigation body {
    margin: 0;
}

.Navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #00001a;
    position: fixed;
    height: 100%;
    overflow: auto;
	border-right: 3px solid #fff;
}

.Navigation li a {
    display: block;
    color: #fff;
    padding: 16px 0 8px 16px;
    text-decoration: none;
}

.Navigation li a.active {
    background-color: #00001a;
    color: white;
}

.Navigation li a:hover:not(.active) {
    background-color: #555;
    color: white;
}	

#Contents {
	position: relative;
	float: right;
	margin-left: .5em;
	width: 75%;
	/* float: right; */
	/* top: 0; */
	/* border-left: 2px solid #333; */
}

div.figure {
	margin: 0.5em;
	padding: 0.5em;
}
div.figure p{
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
}

IMG#headimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.floatright {
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
	border: none;
}

.floatleft {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	border: none;
}

div.figure_right {
	float: right;
	border: thin silver solid;
	margin: 5px 5px 5px 5px;
	padding: 10px;
}
div.figure_right p {
	text-align: center;
	font-style: italic;
	text-indent: 0;
}

div.figure_left {
	float: left;
	border: thin silver solid;
	margin: 5px 5px 5px 5px;
	padding: 10px;
}

div.figure_left p{
	text-align: center;
	font-style: italic;
	text-indent: 0;
}

ul.spaced_list{
	line-height: 150%;
}